<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>KShopping</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/common/css/styles.css" rel="stylesheet" />

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="/common/js/jquery-3.6.0.js"></script>
    </head>
    <body>
        <!-- Navigation-->
        <div th:replace="/common/nav_main.html :: common-nav"></div>
        <!-- Page Content-->
        <section>
            <!--<div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <h1 class="mt-5">The Big Picture</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt porro quisquam voluptatem.</p>
                    </div>
                </div>
            </div>-->
            <div class="banner-container">
                <div class="banner">
                    <div data-index=1></div>
                    <div data-index=2></div>
                    <div data-index=3></div>
                    <div data-index=4></div>
                </div>
            </div>
            <!--<div class="list-button">
                <span class="list-button-item active"></span>
                <span class="list-button-item"></span>
                <span class="list-button-item"></span>
                <span class="list-button-item"></span>
            </div>-->
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/common/js/scripts.js"></script>
        <script>
            //메인화면 슬라이드 구현
            let interval;
            let activeIndex = 1;

            $(document).ready(function(){
                interval = setInterval(changeActiveIndex,2500);
                $('.list-button-item').on('click',function(){
                    // list button의 색상 변경
                    const index = $(this).index();
                    activeIndex = index;
                    changeActiveIndex();
                    clearInterval(interval);
                    // animation 재설정을 위해 animation을 잠시 제거한다.
                    $('.banner').css('animation','none');
                    // animation 재설정
                    $('.banner').animate({marginLeft:`${-100*index}%`},1,function(){
                        //1초의 시간 여유(해당 이미지로 이동하는 animation을 위한 시간)를 두고 다시 animation을 설정한다.
                        setTimeout(function(){
                            $('.banner').css('animation',`animation${index+1} 10s infinite`)

                            interval = setInterval(changeActiveIndex,2500);
                        }, 2000)
                    })
                })
            });
            function changeActiveIndex(){
                if(activeIndex>3) {
                    activeIndex%=4;
                }
                changeActiveBtn();
                activeIndex+=1;
            }
            function changeActiveBtn(){
                $('.list-button-item').removeClass('active');
                $(`.list-button span:eq(${activeIndex})`).addClass('active');
            }
        </script>
    </body>
</html>
