<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopping.kshopping.board.mapper.BoardMapper">

    <select id="boardView" resultType="com.shopping.kshopping.board.vo.BoardVo">
        SELECT * FROM board WHERE board_seq = #{boardSeq}
    </select>

    <select id="boardCount" resultType="integer">
        SELECT max(board_seq) FROM board
    </select>

    <select id="boardMinCount" resultType="integer">
        SELECT min(board_seq) FROM board
    </select>

    <update id="updateView">
        UPDATE board SET board_views = board_views+1 WHERE board_seq = #{boardSeq}
    </update>
    
    <insert id="boardCreate" parameterType="com.shopping.kshopping.board.vo.BoardVo">
        INSERT INTO board (board_title, board_contents, board_writer) VALUES (#{boardTitle}, #{boardContents}, #{boardWriter})
    </insert>

    <delete id="boardDelete" parameterType="integer">
        DELETE FROM board WHERE board_seq=#{boardSeq}
    </delete>

    <select id="boardReply" parameterType="com.shopping.kshopping.board.vo.ReplyVo" resultType="com.shopping.kshopping.board.vo.ReplyVo">
        SELECT * FROM board_reply WHERE board_seq = #{boardSeq} AND reply_seq = #{replySeq}
    </select>

    <select id="boardReplyCount" resultType="integer">
        SELECT ifnull(max(reply_seq),0) data FROM board_reply WHERE board_seq = #{boardSeq}
    </select>

    <select id="boardReplyMinCount" resultType="integer">
        SELECT ifnull(min(reply_seq),0) data FROM board_reply WHERE board_seq = #{boardSeq}
    </select>

    <insert id="replyCreate" parameterType="com.shopping.kshopping.board.vo.ReplyVo">
        INSERT INTO board_reply (board_seq, reply_writer, reply_contents) VALUES (#{boardSeq}, #{replyWriter}, #{replyContents})
    </insert>

    <delete id="replyDelete" parameterType="integer">
        DELETE FROM board_reply WHERE reply_seq=#{replySeq}
    </delete>
</mapper>