<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopping.kshopping.product.mapper.ProductMapper">

    <select id="productView" resultType="com.shopping.kshopping.product.vo.ProductVo">
        select * from product where product_seq = #{productSeq}
    </select>

    <select id="productCount" resultType="integer">
        select max(product_seq) from product
    </select>

    <insert id="productCreate" parameterType="string">
        INSERT INTO product (product_name) VALUES (#{productName})
    </insert>

    <delete id="productDelete" parameterType="integer">
        DELETE FROM product WHERE product_seq=#{productSeq}
    </delete>
</mapper>