<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopping.kshopping.product.mapper.ProductMapper">

    <select id="productView" resultType="com.shopping.kshopping.product.vo.ProductVo">
        SELECT * FROM product WHERE product_seq = #{productSeq}
    </select>

    <select id="productCount" resultType="integer">
        SELECT max(product_seq) FROM product
    </select>

    <select id="productMinCount" resultType="integer">
        SELECT min(product_seq) FROM product
    </select>

    <insert id="productCreate" parameterType="hashmap">
        INSERT INTO product (product_name, product_contents1, product_contents2, product_contents3, product_img, product_thumb_img) VALUES (#{productName}, #{productContents1}, #{productContents2}, #{productContents3}, #{productImg}, #{productThumbImg})
    </insert>

    <delete id="productDelete" parameterType="integer">
        DELETE FROM product WHERE product_seq=#{productSeq}
    </delete>

    <update id="productUpdate" parameterType="com.shopping.kshopping.product.vo.ProductVo">
        UPDATE product SET product_name = #{productName}, product_contents1 = #{productContents1}, product_contents2 = #{productContents2}, product_contents3 = #{productContents3} WHERE product_seq = #{productSeq};
    </update>
    
    <update id="updateView">
        UPDATE product SET product_views = product_views+1 WHERE product_seq = #{productSeq};

    </update>

    <select id="productReply" parameterType="com.shopping.kshopping.product.vo.ProductReplyVo" resultType="com.shopping.kshopping.product.vo.ProductReplyVo">
        SELECT * FROM product_reply WHERE product_seq = #{productSeq} AND reply_seq = #{replySeq}
    </select>

    <select id="productReplyCount" resultType="integer">
        SELECT ifnull(max(reply_seq),0) data FROM product_reply where product_seq = #{productSeq}
    </select>

    <select id="productReplyMinCount" resultType="integer">
        SELECT ifnull(min(reply_seq),0) data FROM product_reply where product_seq = #{productSeq}
    </select>

    <insert id="replyCreate" parameterType="com.shopping.kshopping.product.vo.ProductReplyVo">
        INSERT INTO product_reply (product_seq, reply_writer, reply_contents) VALUES (#{productSeq}, #{replyWriter}, #{replyContents})
    </insert>

    <delete id="replyDelete" parameterType="integer">
        DELETE FROM product_reply WHERE reply_seq=#{replySeq}
    </delete>
</mapper>